/* Style the body */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
/* Header/logo Title */
  .header {
    padding: 80px;
    text-align: center;
    background-image: url(img/cats-cuddling.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    height: 40%;
    margin-bottom: 60px;
  }
  
/* Increase the font size of the heading */
  .header h1 {
    font-size: 30px;
    background-color: #be746dab;
    display: inline;
    animation-name: example;
    animation-duration: 10s;
  }

  @keyframes example {
    from {background-color: #be746dab;}
    to {background-color: #808e74a6;}
  }

  .logo-charity{
      height: 130px;
      width: 120px;
      margin-top: 10px;
      float: left;
      margin-left: 180px;
  }
  
/* Style the top navigation bar */
  .navbar {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    height: 15%;
    text-align: right;
    word-spacing: 20px;
    padding-bottom: 20px;
    margin-right: 80px;
    margin-top: 50px;
  }
  
/* Style the navigation bar links */
  .navbar a {
    display: inline-block;
    color: #616161;
    text-align: center;
    font-size: 20px;
    padding: 14px 20px;
    text-decoration: none;
  }
  
/* Style the navigation bar links */
.navbar li {
    display: inline-block;
    color: #616161;
    text-align: center;
    font-size: 20px;
    padding: 14px 20px;
    text-decoration: none;
  }

/* Change color on hover */
  .navbar a:hover {
    background-color: #BE746D;
    color: rgb(255, 255, 255);
  }
  

/* main text area of home page*/
 .main{
     background: #cec6bf;
     text-align: center;
     padding-bottom: 20px;
     padding-top: 10px;
 }

 .text{
     border-style: solid;
     border-color: white;
     border-width: 3px;
     display: inline-block;
     margin-top: 40px;
 }

 .title{
     color: #BE746D;
 }

 .subtitle {
     color: #615351;
 }

 .description {
     color: #615351;
     padding: 20px;
 }

 .social {
     color: #BE746D;
 }

 .button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .button1 {
      background-color: #BE746D;
      margin-bottom: 20px;
    } 

  .line {
      color: white;
      size: 6;
      width: 50%;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
  }

/* home page grid container */
  
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 30px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .grid-item1 {
    background-image: url(img/reach-kitten.jpg);
    background-size: 100%;
    background-position: center;
    border: 1.5px solid #BE746D;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    height: 150px;
  }

  .grid-item2 {
    background-image: url(img/kitten-lying.jpg);
    background-size: 120%;
    background-position: center;
    border: 1.5px solid #BE746D;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    height: 150px;
  }

  .grid-item3 {
    background-image: url(img/catpaw.jpg);
    background-size: 120%;
    background-position: center;
    border: 1.5px solid #BE746D;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    height: 150px;
  }

  .grid-item4 {
    background-image: url(img/standingcat.jpg);
    background-size: 100%;
    background-position: center;
    border: 1.5px solid #BE746D;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    height: 150px;
  }

  .grid-item5 {
    background-image: url(img/kitty.jpg);
    background-size: 120%;
    background-position: center;
    border: 1.5px solid #BE746D;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    height: 150px;
  }

  .social {
      color: white;
  }

  .special-word { 
    color: #808E74;; 
  } 

/* sliding cat animation */

  .home {
    animation-name: home-move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  @keyframes home-move {
    0% {transform: translate(120vw);}
    100% {transform: translate(-40vw);}
  }

  .walking-gif {
    height: 60px;
    width: 60px;
  }

/* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #808E74;
    color: white;
  }

  .socials {
      text-align: center;
      height: 70px;
      width: 190px;
  }

/* Story Page */

/* Header/logo Title */
  .header2 {
    padding: 80px;
    text-align: center;
    background-image: url(img/street-cat.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    height: 40%;
    margin-bottom: 60px;
  }

/* Increase the font size of the heading */
  .header2 h1 {
    font-size: 30px;
    background-color: #be746dab;
    display: inline;
    animation-name: example;
    animation-duration: 10s;
  }

  @keyframes example {
    from {background-color: #be746dab;}
    to {background-color: #808e74a6;}
  }

.cat-background {
    background-image: url(img/cat-scratch.jpg);
    background-size: 100%;
    background-position: center;
    height: 180px;
    padding-bottom: 20px;
    margin-top: 20px;

}

.divider {
    background-color: #808E74;
    color: white;
    text-align: center;
    padding: 20px;
}

.main1{
    background: #cec6bf;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
}

.text1{
    border-style: solid;
    border-color: white;
    border-width: 3px;
    display: inline-block;
    margin-top: 40px;
}

.button2 {
    background-color: #BE746D;
    margin-bottom: 20px;
  } 

/* Get Involved - page 3 */

.header3 {
    padding: 80px;
    text-align: center;
    background-image: url(img/change.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    height: 40%;
    margin-bottom: 60px;
  }

  .header3 h1 {
    font-size: 30px;
    background-color: #be746dab;
    display: inline;
    animation-name: example;
    animation-duration: 10s;
  }

  @keyframes example {
    from {background-color: #be746dab;}
    to {background-color: #808e74a6;}
  }

  .divider1 {
    background-color: #A2849D;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Contact Page */
 
.header4 {
  padding: 80px;
  text-align: center;
  background-image: url(img/catcuddles.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  height: 40%;
  margin-bottom: 60px;
}

.header4 h1 {
  font-size: 30px;
  background-color: #be746dab;
  display: inline;
  animation-name: example;
  animation-duration: 10s;
  }

@keyframes example {
  from {background-color: #be746dab;}
  to {background-color: #808e74a6;}
  }

/* Donate */

h4 {
  color: white;
}

.header5 {
  padding: 80px;
  text-align: center;
  background-image: url(img/holdingcat.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  height: 40%;
  margin-bottom: 60px;
}

.header5 h1 {
  font-size: 30px;
  background-color: #be746dab;
  display: inline;
  animation-name: example;
  animation-duration: 10s;
  }

@keyframes example {
  from {background-color: #be746dab;}
  to {background-color: #808e74a6;}
  }

.team {
  width: 310px;
  height: 200px;
  margin-top: 50px;
}

.team-description {
  color: #615351;
}

.form {
  color: #615351;
}

